<div *ngIf="(searchText$ | async | json).slice(1,-1).length > 0">
  <div class="flx mt20">
    <p class=""> <a href="/home">Home Page</a> </p>
    <p class="">Filtered post by: {{searchText$ | async | json}}</p>
  </div>
  <div class="flx" *ngFor="let a of postsDetail">
    <div *ngIf="a.title.toLowerCase().includes((searchText$ | async | json).slice(1,-1)) || a.description.toLowerCase().includes((searchText$ | async | json).slice(1,-1))" class="wd50">
      <mat-card class="m30">
        <mat-card-content>
          <div class="m1530">
            <h1 class="h1cl" [routerLink]="'/postdetail/'+a.id" >{{a.title}}</h1>
            <p>
              <span class="spncl"> {{a.description.substr(0,280)}}...<a class="acl" [routerLink]="'/postdetail/'+a.id"> read more </a></span>
            </p>

            <div class="container">
              <div class="row">
                <div class="col-md-1">
                  <img class="imgcl" src="assets/images/profile.png">
                </div>

                <div class="col-md-11">
                  <p>Written By: <span class="spfnt">  {{a.author}} </span></p>
                  <p> {{a.date | date:'MMMM d y'}} </p>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
